:root {
  .ToolIcon__lock,
  .App-toolbar__divider,
  .App-toolbar-content button[aria-label="Edit"],
  .App-toolbar-content button[aria-label="Duplicate"],
  label[title="Diamond — D or 3"],
  label[title="Line — L or 6"],
  label[title="Library"] {
    display: none !important;
  }


  .tiptap {
    padding: 2px; 
    border-radius: 5px;
  }

  .titap p {
    margin-block-start: 5px !important;
    margin-block-end: 5px;
  }

  .tiptap .is-empty::before {
    content: attr(data-placeholder);
    float: left;
    color: dimgrey;
    pointer-events: none;
    height: 0;
  }
}